<div class="sidebar">
  <div class="sidebar-header">
    <h3>Dashboard</h3>
    <div class="user-info">
      <div class="profile-img-container">
        <% if (user.picture && user.picture !==
        'https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331256_1280.png')
        { %>
        <img
          src="<%= user.picture %>"
          alt="Profile Image"
          class="profile-image"
        />
        <% } else { %>
        <i class="fas fa-user-circle profile-icon"></i>
        <% } %>
      </div>
      <span>Welcome, <%= user.name %>!</span>
    </div>
  </div>

  <nav class="sidebar-nav">
    <ul>
      <li>
        <a
          href="/"
          class="nav-link <%= activePage === 'home' ? 'active' : '' %>"
          ><i class="fas fa-home"></i> Home</a
        >
      </li>
    
      <li>
        <a
          href="/adminD/job_listings"
          class="nav-link <%= activePage === 'job_listings' ? 'active' : '' %>"
          ><i class="fas fa-history"></i> Job Listings</a
        >
      </li>
      <li>
        <a
          href="/adminD/freelancers"
          class="nav-link <%= activePage === 'freelancers' ? 'active' : '' %>"
          ><i class="fas fa-tasks"></i> Freelancers</a
        >
      </li>
      <li>
        <a
          href="/adminD/employers"
          class="nav-link <%= activePage === 'employers' ? 'active' : '' %>"
          ><i class="fas fa-briefcase"></i> Employers</a
        >
      </li>
      <li>
        <a
          href="/adminD/complaints"
          class="nav-link <%= activePage === 'complaints' ? 'active' : '' %>"
          ><i class="fas fa-credit-card"></i> Complaints</a
        >
      </li>
      <li>
        <a
          href="/adminD/quizzes"
          class="nav-link <%= activePage === 'quizzes' ? 'active' : '' %>"
          ><i class="fas fa-certificate"></i> Quizzes</a
        >
      </li>
      <li>
        <a
          href="/adminD/profile"
          class="nav-link <%= activePage === 'profile' ? 'active' : '' %>"
          ><i class="fas fa-user"></i> Profile</a
        >
      </li>
    </ul>
  </nav>

  <button class="logout-btn" onclick="window.location.href='/logout'">
    <i class="fas fa-sign-out-alt"></i> Logout
  </button>
</div>


